*.project
*.classpath
/.gradle
/.idea
/build
/bin
/.settings
/common/bin
/common/.settings
/common/build
/fabric-1.21.1/.gradle
/fabric-1.21.1/.settings
/fabric-1.21.1/bin
/fabric-1.21.1/build
/fabric-1.21.4/.gradle
/fabric-1.21.4/.settings
/fabric-1.21.4/bin
/fabric-1.21.4/build
/fabric-1.21.8/.gradle
/fabric-1.21.8/.settings
/fabric-1.21.8/bin
/fabric-1.21.8/build
/fabric-1.21.10/build
/fabric-1.21.10/.gradle
/fabric-1.21.10/.settings
/fabric-1.21.10/bin
/fabric-1.21.11/build
/fabric-1.21.11/.gradle
/fabric-1.21.11/.settings
/fabric-1.21.11/bin
/neoforge-1.21.1/build
/neoforge-1.21.1/.gradle
/neoforge-1.21.1/.settings
/neoforge-1.21.1/bin
/neoforge-1.21.1/.eclipse
/neoforge-1.21.4/build
/neoforge-1.21.4/.gradle
/neoforge-1.21.4/.settings
/neoforge-1.21.4/bin
/neoforge-1.21.4/.eclipse
/neoforge-1.21.8/build
/neoforge-1.21.8/.gradle
/neoforge-1.21.8/.settings
/neoforge-1.21.8/bin
/neoforge-1.21.8/.eclipse
/neoforge-1.21.10/build
/neoforge-1.21.10/.gradle
/neoforge-1.21.10/.settings
/neoforge-1.21.10/bin
/neoforge-1.21.10/.eclipse
/neoforge-1.21.11/build
/neoforge-1.21.11/.gradle
/neoforge-1.21.11/.settings
/neoforge-1.21.11/bin
/neoforge-1.21.11/.eclipse
